.apresentacao__container{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom:-160px ;
}

.apresentacao{
    width: 55%;
    display: flex;
    flex-direction: column;
    
}

.apresentacao__titulo{
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    color: white;
    text-shadow: 3px 3px 1px black;
    margin-left: 10%;
    font-weight: bold;
    transform: translate3d(0, 50px, 0 );
    transition: 1s;
    opacity: 0;
}


.apresentacao__paragrafo{
    padding: 1rem 0;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 2px 2px 2px black;
    font-size: 32px;
    color: white;
    margin-left: 10%;
    transform: translate3d(0, 50px, 0 );
    transition: 3s;
    opacity: 0;
}
.apresentacao__titulo-animacao{
transform: translate3d(0, 0, 0);
    opacity: 1;
}

.apresentacao__imagem{
    right: 2%;
    bottom: 0%;
    width: 100vh;
    transition: 2s;
    scale: 0.7;
    transform: translate3d(0, 300px, 0 );
    z-index: -1;
}

.apresentacao__imagem-animacao{
    filter:drop-shadow(10px 30px 25px black);
    transform: translate3d(0, 0, 0 );
    scale: 1;

}

@media(max-width:768px){
    .apresentacao__container{
        margin-top: 2rem;
        margin-bottom: -40px;
        flex-direction: column;
        
    }
    .apresentacao{
        width: 100%;
    }
    .apresentacao__imagem{
        width: 80%;
    }
    .apresentacao__imagem-animacao{
        filter:drop-shadow(10px 30px 25px black);
        transform: translate3d(0, 10px, 0 );
        scale: 1;
    
    }

    .apresentacao__titulo{
        font-size: 36px;
    }
    .apresentacao__paragrafo{
        font-size: 20px;
        
    }
}

@media(min-width:1900px){
    .apresentacao__container{
        margin-bottom: -180px;
    }
}

@media(min-width:2500px){
    .apresentacao__container{
        margin-bottom: -250px;
    }
}

