.contato__container{
    margin: -5px 0 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0168b9;
}

.contato__box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 0;
}

.contato__formulario{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.contato__formulario form{
    display: flex;
    flex-direction: column;
    
}

.formulario__input{
    border: 2px solid rgb(247, 135, 7) ;
    padding: 10px 5px;
    border-radius: 5px;
    margin: 10px 0;
}
.formulario__textarea{
    border: 2px solid rgb(247, 135, 7) ;
    padding: 10px 5px;
    border-radius: 5px;
    margin: 10px 0;
}

.formulario__submit{
    width: 30%;
    padding: 10px 0;
    background-color:white ;
    border-radius: 10px;
    color: black;
    border: 2px solid rgb(247, 135, 7);
}

.contato__redes{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contato__titulo{
    margin: 1rem 0;
    font-size: 45px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px black;
}

.paragrafo__contato{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
}
.contato__lista{
    margin: 2rem 0;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contato__lista li {
    background-color: white;
    border-radius: 25px;
    padding: 10px 10px;
    margin: 0 5px;
    
}

.contato__img{
    width: 50px;
    height: 50px;
    
    
}

@media(max-width:798px){

    .contato__lista{
        width: 100%;
        flex-wrap: wrap;
    }
    .contato__lista li{
        padding: auto;
        width: auto;
    }

    .contato__box{
        width: 100%;
        flex-direction: column;
    }

    .contato__formulario{
        width: 80%;

    }
    .contato__redes{
        width: 80%;
        margin-top: 2rem;
    }
    .contato__img{
        width: 25px;
        height: 25px;
    }
    .formulario__submit{
        width: 50%;
    }
}