

header{
    background-color: rgba(0, 0, 0, 0);
}

.header__container{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2rem 0 0 2.5%;
}


.header__lista{
    display: flex;
    width: 30%;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0;
}

.header__button{
    color: rgb(82, 48, 114);
    text-shadow: 0.5px 0.5px 0.5px rgb(65, 25, 75);
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    font-family: 'Play', sans-serif;
    font-size: 24px;
    text-align: center;
}

.header__button:hover{
    transform: scale(1.1);
    color: rgba(18, 53, 76, 1);
}

@media(max-width:768px){
.header__lista{
    width: 100%;
}
.header__button{
    font-size: 18px;
}
}
