
header{
    background-color: black;
}

.header-box{
    width: 940px;
    position: relative;
    margin: 0 auto;
}
.header-box img{
    width: 300px;
    margin: 0 auto;
}

.lista-header{
    position: absolute;
    width: auto;
    right: 60px;
    top: 125px;
    margin: 0 20px;
}

.lista-header li{
    display: inline-block;
    margin: 0 20px;
}
.lista-header li a{
  text-transform: uppercase;
  font-size: 32px; 
  text-decoration: none;
  color: white;
  
  
}