.projetos{
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    align-items: center;
}

.projetos__container{
    display: flex;
    align-items: center;
    margin: 2rem 0;
    flex-wrap: wrap;
    width: 95%;

    
}

.projetos__titulo{
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    color: white;
    text-align: center;
    margin: 2rem 0;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px black;
}
.projetos__box{
    background-color: white;
    padding: 20px 4px;
    border-radius: 30px;
    border: solid 2px rgb(247, 135, 7);
    width: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 2.5%;
    transition: 0.5s;
    text-decoration: none;
}

.projetos__box:hover{
    cursor:pointer;
    border-color: rgb(158, 208, 255);
    transform: scale(1.2);
}

.projetos__img{
    width: 150px;
    height: 150px;
    padding: 10px 0;

}

.projetos__subtitulos{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: center;
    color: black;
}

#projetoContainer{
    margin: 2rem 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.titulo__descricao-projetos{
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    color: white;
    text-shadow: 1px 1px 1px black;
    text-align: center;
    margin: 2rem 0;
    
}

.decricao__projetos{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: 400;
    padding: 5px 0;
    text-align: justify;
    text-indent: 6ch;
}

#linkProjeto{
    padding: 20px 20px;
    background-color: white;
    border: 2px solid rgb(247, 135, 7);
    color: black;
    text-decoration: none;
    text-shadow: 1px 1px 1px white;
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    border-radius: 30px;
    margin-top: 2rem;
    transition: 00.5s;
    
}

#linkProjeto:hover{
    cursor:pointer;
    border-color: rgb(158, 208, 255);
    transform: scale(1.2);
}

.projeto__paragrafo-link{
    text-align: center;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    margin-top: 2rem;
}

.projeto__link{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: rgb(247, 135, 7);
}

@media(max-width:768px){
    .projetos__container{
        flex-direction: column;
    }

    .projetos__img{
        width: 140px;
    }

    .projetos__box{
        width: 80%;
        margin-bottom: 25px;
    }
    .projetos__box:hover{
        transform: scale(1.15);
    }
}