.projetos{
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    align-items: center;
}

.projetos__container{
    display: flex;
    align-items: center;
    margin: 2rem 0;
    justify-content: space-around;
}

.projetos__titulo{
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    color: white;
    text-align: center;
    margin: 2rem 0;
    text-transform: uppercase;
}
.projetos__box{
    background-color: white;
    padding: 20px 20px;
    border-radius: 30px;
    border: solid 2px rgb(82, 48, 114);
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2.5%;
    
}

.projetos__img{
    width: 250px;
    height: 250px;
    padding: 10px 0;

}

.projetos__subtitulos{
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    color: black;
}