.sobre__container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #0168b9;
    padding: 100px 0;
    margin-top: -10px;
    z-index: 1;
}

.sobre__descricao{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
}

.sobre__titulo{
    margin: 1rem 0;
    font-size: 45px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px black;
}

.sobre__paragrafo{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding: 5px 0;
    text-align: justify;
    text-indent: 6ch;
    
}

.sobre__link{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(235, 192, 2);
    text-decoration: none;
}

.sobre__link:hover{
    color:rgb(209, 230, 18) ;
}

.botao__certificados{
    padding: 10px 10px;
    background-color: white;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    border: 2px solid rgb(48, 100, 148) ;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    margin-top: 2rem;
    width: 50%;
}
.sobre__habilidades{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.sobre__habilidades li{
    display: flex;
    align-items: center;
}

.habilidades__imagem{
    width: 100px;
    filter:drop-shadow(0px 5px 5px black);
}

.titulo__habilidade{
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-transform: uppercase;
}
@media(max-width:768px){
    .sobre__container{
        flex-direction: column;
    }

    .sobre__descricao{
        width: 95%;
    }


    .sobre__habilidades{
        width: 95%;
    }
    .sobre__titulo{
        text-align: center;
    }
    .botao__certificados{
        width: 95%;
    }
    .sobre__paragrafo{
        text-align: justify;
    }
}
