.banner{
    width: 100%;
    margin: 0;
}

.banner__imagem{
    background: url(../img/banner.jpg) no-repeat center / cover;
    height: calc(100vh - 100px);
    position: relative;
}

.banner__titulo{
    font-size: 5rem;
font-family: 'Special Elite', cursive;
    position: absolute;
    text-align: center;
    top: 30%;
    margin: auto 20%;
    text-shadow: 5px 5px #91836a;
    color:#222222; 
    

}

