.conteudo{
    background-color: #91836a;
    margin: 0;
}

.apresentacao__lista{
    margin: 0 auto;
    padding: 2rem;
}

.apresentacao__titulo{
    font-size: 3rem;
    text-transform: uppercase;
    font-family: 'Courier Prime', monospace;
    margin-bottom: 4rem;
    margin-top: 4rem;
    font-weight: bold;


}

.apresentacao__paragrafo{
    font-family: 'Courier Prime', monospace;
    font-size: 1.5rem;
    font-weight: 100;
    text-justify: auto;
    text-align: justify;
}

.apresentacao__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.apresentacao__lista{
    display: flex;
    flex-direction: column;
    width: 40% ;
    
}
.apresentacao__video{
    width: 40%;
    box-shadow: 20px 20px  #000000;
    border-radius: 10px;
    margin: 60px auto;
    border: solid 2px #000000;
}

.livros{
    position: relative;
}
.livros__titulo {
    font-size: 3rem;
    text-transform: uppercase;
    font-family: 'Courier Prime', monospace;
    margin-bottom: 4rem;
    font-weight: bold;
    margin-left: 6%;

}

.livros__container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

 .livro{
     display: flex;
     text-align: center;
     flex-direction: column;
     width: 20%;
     background-color: #705A32;
     align-items: center;
     border-radius: 10px;
     margin-bottom: 4rem;
     border: #000000 solid 2px;
     scale: 1;
     transition: .1s;

 }

 .livro:hover{
    transform: scale(1.1);
    box-shadow: 10px 10px black;
}

 .livro__img{
     height: 300px;
     padding: 20px 0;
 }

 .livro__titulo{
     font-size: 1.5rem;
     font-family: 'Courier Prime', monospace;
     width: auto;

 }

 .livro__autor{
     font-size: 1.25rem;
     font-family: 'Courier Prime', monospace;
     width: auto;
 }

 .livro__link{
     display: flex;
     flex-direction: column ;
     align-items: center;
     text-decoration: none;
     color: #111111;
     width: 100%;
     padding: 5px 5px;
     background-color:#705A32;
     border: none;
 }

 /*modal*/

 .modal{
     background-color: #91836a;
     border: solid 2px #000000;
     border-radius: 10px;
     display: flex;
     flex-direction: column;
     position: fixed;
     width: 60%;
     top: 25%;
     right: 20%;
 }

 .modal__botao{
     color: #000000;
     border: 1px solid #000000;
     border-radius: 5px;
     background-color: #705A32;
     box-shadow: 5px 5px black;
     padding: 10px 20px;
     font-size: 22px;
     font-weight: bold;
     width: 20%;
     margin: 10px 10px;
     
 }

 .modal__container{
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin: 1rem 20px;
    

 }

 .modal__imagem{
     width: 30%;
 }

 .modal__descricao{
    text-align: justify;
    text-indent: 1rem;
    font-size: 20px;
     color: #000000;
     font-family: 'Courier Prime', monospace;
     width: 60%;
     margin-right: 20px;
     
     

 }


 
 /*animaçoes*/

 [data-anime] {
     opacity: 0;
     transition: .3s;
 }

 [data-anime="left"]{
     transform: translate3d(-50px , 0 , 0) ;
 }

 [data-anime="right"]{
    transform: translate3d(50px , 0 , 0) ;
}

[data-anime].animate{
    opacity: 1;
    transform: translate3d(0px , 0px , 0px);
}