.descricao__container{
    background-color: whitesmoke;
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: 1rem 0;
    padding: 0 5%;
    align-items: center;
    
}

.descricao__titulo{
    width: 60% ;
}
.descricao__titulo-h2{
    font-family: 'Teko', sans-serif;
    font-size: 200px;
}
.descricao__paragrafos{
    padding: 20px;
    border-radius: 20px;
    width: 80%;
    
}
.descricao__paragrafo {
    font-family: 'Oswald', sans-serif;
    font-size: 27px;
    font-weight: bold;
    text-align: justify;
}

